<template>
    <v-layout justify-center>
        <v-btn color="primary">Teste btn</v-btn>
    </v-layout>
</template>

<script>
export default {
    name: 'VuetifyTest',
    props: {
        values: {
            type: Array,
            required: true
        }
    }
}
</script>